{% extends "application.html" %}
{% load i18n %}
{% block content %}
<div class="container">
    <h2 style="text-align: center;">{% trans "Flight Search" %}</h2>
    <form method="GET" action="{% url 'flight_search_data' %}" style="text-align: center;">
        <p>
            Departure: <input type="text" name="departure_location" placeholder="Departure Location">
            Arrival: <input type="text" name="arrival_location" placeholder="Arrival Location">      
        </p>
        <p>
            Departure Time: <input type="datetime-local" name="departure_time" placeholder="Departure Time">
            Price: <input type="number" name="price" placeholder="Price">
        </p>
        <button class="btn btn-primary" type="submit" style="padding: 10px 100px;">Search</button>
    </form>
</div>

<!-- Display search results here -->
<div class="container">
    {% block flightSearch %}
    {% endblock %}
</div>
{% endblock %}
