{% extends 'flight_search.html' %}

{% block flightSearch %}
{% if flights %}
        <h2>Search Results</h2>
        <div class="accordion">
            {% for flight in flights %}
            <div class="accordion-item border-0">
                <h5 class="acordion-header">
                    {{flight.departure_location}} to {{flight.arrival_location}}, Departure Time: {{flight.departure_time}}, Price: ${{flight.price}}
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse_{{ forloop.counter }}">View More</button>
                </h5>
                <div id="collapse_{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul style="list-style-type: none;">
                        <li><strong>{{flight.departure_location}} to {{flight.arrival_location}}</strong></li>
                        <li>Departure Time: {{flight.departure_time}}</li>
                        <li>Arrival Time: {{flight.arrival_time}}</li>
                        <li>Price: ${{flight.price}}</li>
                        <li>Airline: United</li>
                      </ul>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No flights found for search query.</p>
    {% endif %}
{% endblock %}