<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>OpenSkyApi Test</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<h2>OpenSkyApi Test</h2>

<!-- Form for getFlightsByAircraft method -->
<form id="flightsByAircraftForm" action="/get-flights-by-aircraft/" method="get" target="_blank">
  <label for="icao24Flights">ICAO24:</label><br>
  <input type="text" id="icao24Flights" name="icao24" value="ABC123"><br>
  <label for="beginFlights">Begin:</label><br>
  <input type="text" id="beginFlights" name="begin" value="1609459200"><br>
  <label for="endFlights">End:</label><br>
  <input type="text" id="endFlights" name="end" value="1609545600"><br>
  <button type="submit">Get Flights by Aircraft</button>
</form>

<!-- Form for getFlightsFromInterval method -->
<form id="flightsFromIntervalForm" action="/get-flights-from-interval/" method="get" target="_blank">
  <label for="beginInterval">Begin:</label><br>
  <input type="text" id="beginInterval" name="begin" value="1609459200"><br>
  <label for="endInterval">End:</label><br>
  <input type="text" id="endInterval" name="end" value="1609545600"><br>
  <button type="submit">Get Flights from Interval</button>
</form>

<!-- Form for getMyStates method -->
<form id="myStatesForm" action="/get-my-states/" method="get" target="_blank">
  <label for="timeSecsStates">Time (secs):</label><br>
  <input type="text" id="timeSecsStates" name="time_secs" value="1609459200"><br>
  <label for="icao24States">ICAO24:</label><br>
  <input type="text" id="icao24States" name="icao24" value="ABC123"><br>
  <label for="serialsStates">Serials:</label><br>
  <input type="text" id="serialsStates" name="serials" value="12345"><br>
  <button type="submit">Get My States</button>
</form>

<!-- Form for getStates method -->
<form id="statesForm" action="/get-states/" method="get" target="_blank">
  <label for="timeSecs">Time (secs):</label><br>
  <input type="text" id="timeSecs" name="time_secs" value="1609459200"><br>
  <label for="icao24States">ICAO24:</label><br>
  <input type="text" id="icao24States" name="icao24" value="ABC123"><br>
  <label for="minLatitude">Min Latitude:</label><br>
  <input type="text" id="minLatitude" name="min_latitude" value="30"><br>
  <label for="maxLatitude">Max Latitude:</label><br>
  <input type="text" id="maxLatitude" name="max_latitude" value="60"><br>
  <label for="minLongitude">Min Longitude:</label><br>
  <input type="text" id="minLongitude" name="min_longitude" value="30"><br>
  <label for="maxLongitude">Max Longitude:</label><br>
  <input type="text" id="maxLongitude" name="max_longitude" value="60"><br>
  <button type="submit">Get States</button>
</form>

<!-- Form for getTrackByAircraft method -->
<form id="trackByAircraftForm" action="/get-track-by-aircraft/" method="get" target="_blank">
  <label for="icao24Track">ICAO24:</label><br>
  <input type="text" id="icao24Track" name="icao24" value="ABC123"><br>
  <label for="timeTrack">Time:</label><br>
  <input type="text" id="timeTrack" name="t" value="1609459200"><br>
  <button type="submit">Get Track by Aircraft</button>
</form>

</body>
</html>
