{% extends "flightcomparison/application.html" %}
{% block content %}
<div class="container">
    <h2 style="text-align: center;">Flight Search</h2>
    <form autocomplete="off" method="GET" action="{% url 'flight_search_data' %}" style="text-align: center;">
        <div class="autocomplete">
            Departure: <input type="text" id="departureInput" name="departure_location" placeholder="Departure Location">
            <div id="departureOptions" class="suggestions"></div>
            Arrival: <input type="text" id="arrivalInput" name="arrival_location" placeholder="Arrival Location">
            <div id="arrivalOptions" class="suggestions"></div>   
        </div>
        <p>
            Departure Time: <input type="datetime-local" name="departure_time" placeholder="Departure Time">
            Price: <input type="number" name="price" placeholder="Price">
        </p>
        <button class="btn btn-primary" type="submit" style="padding: 10px 100px;">Search</button>
    </form>
</div>

<!-- Display search results here -->
<div class="container">
    {% block flightSearch %}
    {% endblock %}
</div>
<script>
    //function that runs autocomplete fill
    function autocomplete(dataField, arr) {
        var currentFocus;
        //when someone writes in text field
        dataField.addEventListener("input", function(e) {
            var containerDiv, flightDiv, i, val = this.value;
            //close any already open lists of autocompleted values
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            //create a DIV element that will contain the items (values)
            containerDiv = document.createElement("DIV");
            containerDiv.setAttribute("id", this.id + "autocomplete-list");
            containerDiv.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(containerDiv);
            for (i = 0; i < arr.length; i++) {
                //check if the item starts with the same letters as the text field value:
                if (arr[i].substr(7, val.length).toUpperCase() == val.toUpperCase()) {
                //create a element for specific flight
                flightDiv = document.createElement("DIV");
                flightDiv.innerHTML = arr[i].substr(0,7);
                flightDiv.innerHTML += "<strong>" + arr[i].substr(7, val.length) + "</strong>";
                flightDiv.innerHTML += arr[i].substr(7 + val.length);
                flightDiv.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                //when someone clicks on specific flight
                flightDiv.addEventListener("click", function(e) {
                    /*insert the value for the autocomplete text field:*/
                    dataField.value = this.getElementsByTagName("input")[0].value;
                    /*close the list of autocompleted values,
                    (or any other open lists of autocompleted values:*/
                    closeAllLists();
                });
                containerDiv.appendChild(flightDiv);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        dataField.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != dataField) {
                x[i].parentNode.removeChild(x[i]);
            }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    
    }
    //gets all data from csv file
    const arr = [];
    const filePath = "{{static_url}}"; 
    fetch(filePath)
        .then(response => response.text())
        .then(data => {
            const rows = data.split('\n');
            for (const row of rows) {
                const columns = row.split(',');
                //filters out non airports and closed airports, adds ICAO code to front of airport
                if (columns.length >= 12 && columns[1].includes('airport') && !columns[1].includes('closed')) {
                    const flight = columns[0] + " - " + columns[2];
                    arr.push(flight);
                }
            }
        }).catch(error => console.error('Error fetching data:', error));
    autocomplete(document.getElementById("departureInput"), arr);
    autocomplete(document.getElementById("arrivalInput"), arr);

</script>
{% endblock %}